@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: black;

  background-image:
    radial-gradient(circle, rgba(8, 142, 60, 0.1) 10%, transparent 30%),
    radial-gradient(circle, rgba(8, 142, 59, 0.1) 10%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 800px 800px, 600px 600px;
  background-position: 0% 0%, 50% 50%;

  animation: greenShadow 10s ease-in-out infinite;
}

@keyframes greenShadow {
  0% {
    background-position: 5% 20%, 90% 30%, 50% 10%;
  }

  25% {
    background-position: 15% 40%, 80% 80%, 30% 50%;
  }

  50% {
    background-position: 25% 70%, 95% 40%, 70% 90%;
  }

  75% {
    background-position: 10% 90%, 85% 60%, 20% 80%;
  }

  100% {
    background-position: 5% 20%, 90% 30%, 50% 10%;
  }
}

@media (max-width: 768px) {

  body {
    background-size: 700px 700px, 500px 500px, 250px 250px;
  }

  @keyframes greenShadow {
    0% {
      background-position: 10% 0%, 85% 10%, 50% 0%;
    }

    25% {
      background-position: 25% 70%, 75% 100%, 30% 80%;
    }

    50% {
      background-position: 40% 100%, 95% 80%, 70% 100%;
    }

    75% {
      background-position: 15% 90%, 60% 100%, 20% 95%;
    }

    100% {
      background-position: 10% 0%, 85% 10%, 50% 0%;
    }
  }

}


/* profile picture styles */

#profile-picture {

  animation: morph 5s linear infinite;
}

@keyframes morph {

  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* text and fonts */

h1,
h2,
h3,
p,
span {

  font-family: "Arial";
  user-select: none;
}

.slow {
  animation-duration: 15s;
}

.project-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* //animation to skills */

.skills {
  opacity: 0;
  animation: fade-in 1.4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

#responsive {
  animation-delay: 0.5s;
}

#ssr {
  animation-delay: 0.6s;
}

#fast {
  animation-delay: 0.9s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* animation: puuling up */

#profile-div {

  margin-top: 120px;

  animation: pull-up 2s forwards;
  animation-delay: 2.5s;
}


@keyframes pull-up {

  0% {
    margin-top: 120px;
  }

  100% {
    margin-top: 80px;
  }

}